body {
    background-color: #ffffff;
    background-size: 36px 36px;
    background-image:  repeating-linear-gradient(to right, #c5c5c5, #c5c5c5 1.8px, #ffffff 1.8px, #ffffff);
}

h1 {
    font-family: "puffin-arcade-liquid", sans-serif;
    font-weight: 800;
    font-style: normal;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 100px;
}

.bookshelf {
       
    display: grid;
    height: 600px;
    width: 350px;
    background-color: antiquewhite;
    margin: 0% auto;
    border: 15px solid rgb(220, 193, 160);
    border-radius: 20px;
    box-shadow: 6px brown;
}

#shelf1 {
    display: flex;
    justify-content: space-around;
    border: 7.5px solid rgb(220, 193, 160);
}

#shelf2 {
    display: flex;
    justify-content: space-around;
    border: 7.5px solid rgb(220, 193, 160);
}

#shelf3 {
    display: flex;
    justify-content: space-around;
    border: 7.5px solid rgb(220, 193, 160);
}

#shelf4 {
    border: 7.5px solid rgb(220, 193, 160);
}

#shelf5 {
    border: 7.5px solid rgb(220, 193, 160);
}

img {
    height: 125px;
}
