body {
    background-color: #ffffff;
    background-size: 36px 36px;
    background-image:  repeating-linear-gradient(to right, #c5c5c5, #c5c5c5 1.8px, #ffffff 1.8px, #ffffff);
}

h1 {
    font-family: "puffin-arcade-liquid", sans-serif;
    font-weight: 800;
    font-style: normal;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 100px;
}

.wall {
    display: flex;
    justify-content: space-around;
    padding-left: 100px;
    padding-right: 100px;
}

.wallimage1 {
    background-image: url(painting.jpeg);
    height: 100px;
}

.wallimage2 {
    background-image: url(fish.jpg);
    height: 100px;
}

.bookshelf {
       
    display: grid;
    height: 730px;
    width: 350px;
    background-color: rgb(250, 243, 230);
    margin: 0% auto;
    border: 15px solid rgb(220, 193, 160);
    border-radius: 20px;
    box-shadow: 6px brown;
}

#shelf1 {
    display: flex;
    justify-content: space-around;
    border: 10px solid rgb(220, 193, 160);
    padding: 20px;
}

#shelf2 {
    display: flex;
    justify-content: space-around;
    border: 10px solid rgb(220, 193, 160);
    padding: 20px;
    height: 125px;
}

#shelf3 {
    display: flex;
    justify-content: space-around;
    border: 10px solid rgb(220, 193, 160);
    padding: 20px;
}

#shelf4 {
    display: flex;
    justify-content: space-around;
    border: 10px solid rgb(220, 193, 160);
    padding: 20px;
    height: 125px;
}

img {
    height: 125px;
}

.floor {
   background-image: url(wood.jpg); 
   width: 100%;
 
}

.audio {
    align-content: center;
}
